/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .game {
      width: 600px;
      height: 600px;
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      margin: 0 auto;
      grid-gap: 5px;
      }
      .subgame {
      background-color: #2c3e50;
      color: #fff;
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      grid-gap: 5px;
      }
      .cell {font-family: Helvetica;
      font-weight: bold;
      font-size: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #34495e;
      }
      .cell:hover {
      background-color: #ccc;
      }
      .button-container {
      text-align: center;
      padding: 10px;
      }
